@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');



/* 變數區 */
:root {
    /* 主色 */
    --primary-1: #FF9D46;
    --primary-2: #19B9AA;
    /* 輔助色 */
    --secondary-1: #FFC08C;
    --secondary-2: #FFBF61;
    /* 灰階 */
    --light: #FFFFFF;
    --deep: #000000;
    --gray-1: #595757;
    --gray-2: #898989;
    --gray-3: #D9D9D9;
    --gray-4: #B5B5B6;
    --gray-5: #727171;
    --gray-6: #A8A8A8;
    --gray-7: #3E3A39;
    /* 背景 */
    --bg-line: #D7E1EC;
    --bg-pri: #F7F9F9;
    --bg-size: 44px;
}



/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans TC", sans-serif;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

button {
    border: none;
    background-color: transparent;
}

input,
label {
    display: block;
}



/* 共用區 */
/* 左上logo */
.logo a {
    display: flex;
    align-items: flex-start;
}

.logo img {
    object-fit: cover;
}

.logo-en {
    width: 152px;
    height: 41px;
    margin: 18px 14px 0 0;
    overflow: hidden;
}

.logo-tc {
    width: 168px;
    height: 46px;
    margin-bottom: 13px;
    overflow: hidden;
}

/* 置頂導航列 topbar */
#topbar {
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    width: 100%;
}

.topbar__start-box {
    position: absolute;
    display: flex;
    align-items: center;
}

.topbar__start-box .logo {
    margin: 30px 0 0 46px;
}

.topbar__location {
    display: flex;
    margin-left: 48px;
}

.topbar__map-pin-icon {
    width: 29px;
    height: 29px;
}

.topbar__location p {
    font-size: 20px;
    color: var(--light);
}

.topbar__end-box {
    position: fixed;
    right: 0;
}

.topbar-menu {
    display: flex;
}

.topbar-menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 21px;
    background-color: var(--primary-1);
    border-radius: 0 0 30px 30px;
    margin-right: 8.5px;
}

.topbar-menu__item:last-child {
    margin-right: 20px;
}

.topbar-menu__icon {
    width: 29px;
    height: 29px;
    margin-right: 7px;
}

.topbar-menu__item p {
    color: var(--light);
}

/* 背景，之後可能換成圖片 */
body {
    background-image: conic-gradient(from 90deg at 2px 2px, var(--bg-pri) 90deg, var(--bg-line) 0);
    background-size: var(--bg-size) var(--bg-size);
}

.funevent-wrap {
    position: relative;
    overflow-x: hidden;
}

/* footer */
footer {
    position: relative;
    padding: 0 144px;
    margin-top: 58px;
    background-color: #595757;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 弧形背景 */
footer .bg-color-block {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 145.8vw;
    height: 325px;
    clip-path: ellipse();
    background-color: #595757;
}

footer .navigation {
    display: flex;
    justify-content: space-between;
    width: 1034px;
}

footer .navigation .menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

footer .navigation .app-box p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: white;
    margin-bottom: 4px;
}

footer .navigation .download {
    display: flex;
    column-gap: 13px;
}

footer .navigation .google {
    width: 142px;
    height: 49px;
    background-image: url(../images/google-play-icon.svg);
}

footer .navigation .iphone {
    width: 146px;
    height: 49px;
    background-image: url(../images/apple-store-icon.svg);
}

footer .navigation .menu {
    margin: 0;
    padding: 0;
}

footer .navigation .menu h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: white;
}

footer .navigation .menu a {
    font-size: 14px;
    font-weight: 400;
    color: white;
}

footer .navigation .menu li {
    border: none;
    margin: 10px 0;
}

footer .split-line-row {
    background-color: white;
    height: 0.5px;
    width: 100%;
    margin-top: 17px;
    margin-bottom: 14px;
}

footer .end-box {
    display: flex;
    justify-content: space-between;
    width: 1034px;
    margin-bottom: 47px;
}

footer .end-box .icon-box {
    display: flex;
    column-gap: 10px;
}

footer .end-box .icon {
    width: 36px;
    height: 36px;
}

footer .end-box small {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
}

/* 陰影1 */
#member-center .member-center-sidebar,
#member-center .member-center-content {
    box-shadow: 0 0 4.1px 1px rgba(0, 0, 0, 0.5);
}

/* 圓角10按鈕 */
.funevent-btn {
    background-color: var(--primary-2);
    padding: 6px 19px;
    font-size: 16px;
    font-weight: 400;
    color: var(--light);
    border-radius: 10px;
    white-space: nowrap;
    /* line-height: 2; */
}

/* row分隔線 */
.split-line-row {
    height: 1px;
    width: 100%;
    background-color: var(--gray-3);
}



/* 會員中心頁面區 */
#member-center {
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 130px 150px 40px 150px;
}

/* 會員中心背景區 */
.member-center-bg-color-block {
    position: absolute;
    /* overflow: hidden; */
    width: 100%;
    height: 100%;
    z-index: -1;
}

.member-center-bg-color-block__block1 {
    /* 左上最大那顆 */
    position: absolute;
    width: 83vw;
    height: 83vw;
    top: -66vw;
    left: -17.6vw;
    border-radius: 9999px;
    background-color: var(--primary-2);
}

.member-center-bg-color-block__block2 {
    /* 左中那顆 */
    position: absolute;
    background: url(../images/member-center-bg-color-block2.svg) center/cover no-repeat;
    width: 12.5vw;
    height: 21.8vw;
    transform: translateX(4.72vw) translateY(36.8vw) rotate(42.11deg);
}

.member-center-bg-color-block__block3 {
    /* 右中下那顆 */
    position: absolute;
    background: url(../images/member-center-bg-color-block3.svg) center/cover no-repeat;
    width: 12.5vw;
    height: 21.8vw;
    transform: translateX(67.2vw) translateY(789px) rotate(116.26deg);
}

.member-center-bg-color-block__block4 {
    /* 右邊小小那顆 */
    position: absolute;
    background: url(../images/member-center-bg-color-block4.svg) center/contain no-repeat;
    width: 9.23vw;
    height: 9.23vw;
    transform: translateX(92.37vw) translateY(40.2vw);
}

/* 會員中心側邊列區 */
.member-center-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    margin-right: 30px;
    border-radius: 10px;
    overflow: hidden;
}

/* member-center-sidebar__intro */
.member-center-sidebar__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px 65px 20px 65px;
    background-color: var(--secondary-2);
}

.member-center-sidebar__intro .member-avatar-box {
    position: relative;
    margin-bottom: 20px;
}

.member-center-sidebar__intro .member-center-sidebar__avatar {
    height: 100px;
    width: 100px;
}

.member-center-sidebar__intro .edit-member-avatar-btn {
    position: absolute;
    right: 0;
    bottom: 0;
}

.member-center-sidebar__intro .member-center-sidebar__name {
    font-size: 20px;
    font-weight: 500;
    color: var(--gray-7);
}

.member-center-sidebar__intro .member-center-sidebar__edit-link {
    font-size: 14px;
    color: var(--gray-7);
}

.member-center-sidebar .member-center-sidebar__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--light);
    font-size: 16px;
}

.member-center-sidebar .member-center-sidebar__menu .split-line-row {
    margin: 10px 0;
}

.member-center-sidebar .member-center-sidebar__menu .member-center-sidebar__list-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-bottom: 13px; */
    /* border-bottom: solid 1px var(--gray-3); */
}

.member-center-sidebar .member-center-sidebar__menu .member-center-sidebar__list-box:nth-child(3) {
    border: none;
}

.member-center-sidebar .member-center-sidebar__menu .member-center-sidebar__list-box h4 {
    padding: 5px 0;
}

.member-center-sidebar .member-center-sidebar__menu .member-center-sidebar__list-box .member-center-sidebar__link-box {
    padding: 10px 0;
}

.member-center-sidebar .member-center-sidebar__menu .member-center-sidebar__list-box h4 {
    font-size: 16px;
    font-weight: 700;
    color: var(--gray-7);
}

.member-center-sidebar .member-center-sidebar__menu .member-center-sidebar__list-box .member-center-sidebar__link-box {
    display: flex;
    align-items: center;
}

.member-center-sidebar .member-center-sidebar__menu .member-center-sidebar__list-box .member-center-sidebar__link-box a {
    font-size: 16px;
    font-weight: 500;
    color: var(--gray-7);
}

.member-center-sidebar .member-center-sidebar__menu .member-center-sidebar__list-box .member-center-sidebar__link-box .icon--small {
    width: 24px;
    height: 24px;
    background-image: url(../images/member-center-sidebar-item-default-icon.svg);
    margin-right: 12px;
}

.member-center-sidebar .member-center-sidebar__menu .btn-logout--large {
    width: 100%;
    height: 40px;
    margin-top: 10px;
}

/* 會員中心主要內容共用區 */
.member-center-content {
    align-self: stretch;
    flex-grow: 1;
    border-radius: 10px;
    background-color: #ffffff;
    width: 60%;
    max-width: 850px;
}