@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Noto+Sans+TC:wght@100..900&display=swap');

/* 此css目前有用在event.html */
:root {
    /* 主色 */
    --primary-1: #FF9D46;
    --primary-2: #19B9AA;
    /* 輔助色 */
    --secondary-1: #FFC08C;
    --secondary-2: #FFBF61;
    /* 背景 */
    --bg-line: #D7E1EC;
    --bg-pri: #F7F9F9;
    --bg-size: 44px;
    /* 灰階 */
    --light: #FFFFFF;
    --deep: #000000;
    --gray-1: #595757;
    --gray-2: #898989;
    --gray-3: #D9D9D9;
    --gray-4: #B5B5B6;
    --gray-5: #727171;
    --gray-6: #A8A8A8;
    --gray-7: #3E3A39;
    --gray-8: #8A8A8A;
    /* 特殊色 */
    --tag-2: #FF8282;
}

/* 重置所有標籤的樣式 */
* {
    margin: 0;
    padding: 0;
    /* 不累加內距padding與邊框border */
    box-sizing: border-box;
}

/* 重置字體 */
body {
    font-family:
        /*中文*/
        "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
    /* background-color: rgb(175, 207, 191); */
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    /* 將預設inline改成block */
    display: block;
    text-decoration: none;
    color: var(--deep);
}

/* 重置按鈕 */
button {
    border: none;
    background-color: transparent;
}

/* 重置select */
select {
    outline: none;
    font: inherit;
}

option {
    font: inherit;
}

label {
    display: block;
}

/* 按鈕手 */
button {
    cursor: pointer;
}

/* 共用區 */
/* 左上logo */
.logo a {
    display: flex;
    align-items: flex-start;
}

.logo img {
    object-fit: cover;
}

.logo-en {
    width: 152px;
    height: 41px;
    margin: 18px 14px 0 0;
    overflow: hidden;
}

.logo-tc {
    width: 168px;
    height: 46px;
    margin-bottom: 13px;
    overflow: hidden;
}

/* 主要大標題，使用h2標籤 */
.funevent-main-title {
    display: flex;
    font-size: 32px;
    font-weight: 700;
    color: var(--primary-1);
}

.funevent-main-title::before {
    content: "";
    display: block;
    width: 38.95px;
    height: 28.25px;
    background-image: url(../images/funevent-main-title-color-block.svg);
    margin-right: 4px;
}

.funevent-main-title::after {
    content: "";
    display: block;
    flex-grow: 1;
    background: url(../images/funevent-main-title-dotted-line.svg) center repeat-x;
    margin-left: 15px;
}

/* 活動卡片 */
.funevent-event-card {
    display: flex;
    flex-direction: column;
    row-gap: 11px;
    padding: 17px 14px;
    width: 304px;
    height: 425px;
    background-color: var(--light);
    border-radius: 10px;
}

.funevent-event-card .event-pic {
    width: 276px;
    height: 194px;
    /* overflow: hidden; */
    border-radius: 10px;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.5);
    background: center/cover no-repeat;
}

.funevent-event-card .inner-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.funevent-event-card .inner-card .start-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 11px 0 11px;
}

.funevent-event-card .inner-card .fav-btn {
    width: 19px;
    height: 19px;
    background: url(../images/add-fav-icon.svg) center/cover no-repeat;
}

.funevent-event-card .main-content {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.funevent-event-card .category {
    font-size: 16px;
    font-weight: 700;
    color: var(--secondary-2);
}

.funevent-event-card .event-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: var(--gray-5);
}

.funevent-event-card .location {
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.funevent-event-card .map-pin-icon {
    width: 13px;
    height: 13px;
    background: url(../images/map-pin-icon--gray.svg) center/cover no-repeat;
}

.funevent-event-card .location-text {
    font-size: 14px;
    color: var(--gray-8);
}

.funevent-event-card .tag-rating-box {
    display: flex;
    justify-content: space-between;
}

.funevent-event-card .tag-list {
    display: flex;
    column-gap: 6px;
}

.funevent-event-card .tag {
    font-size: 12px;
    line-height: 1;
}

.funevent-event-card .tag.tag--hot {
    background-color: var(--tag-2);
}

.funevent-event-card .tag.tag--new {
    background-color: var(--primary-2);
}

.funevent-event-card .date {
    font-size: 14px;
    font-weight: 400;
    color: var(--gray-1);
    background-color: var(--light);
    border-radius: 10px 0 0 0;
    padding: 5px 15px 0 15px;
    align-self: flex-end;
}

.funevent-event-card .rating-score {
    font-size: 14px;
    color: var(--deep);
    display: flex;
    align-items: center;
}

.funevent-event-card .rating-score::before {
    content: "";
    width: 12px;
    height: 12px;
    margin-right: 5px;
    background: url(../images/rating-icon--filled.svg) center/cover no-repeat;
}

.funevent-event-card .sign-up-btn {
    height: 41px;
}

/* 圓角99按鈕 */
.funevent-btn-round {
    display: flex;
    align-items: center;
    background-color: var(--primary-2);
    border-radius: 99px;
    padding: 8px 18px;
    color: var(--light);
    font-size: 20px;
    font-weight: 500;
}

.funevent-btn-round__icon {
    width: 24px;
    height: 24px;
    margin-right: 3px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.funevent-btn-round p {
    white-space: nowrap;
}

/* 圓角10按鈕 */
.funevent-btn {
    background-color: var(--primary-2);
    padding: 6px 19px;
    font-size: 16px;
    font-weight: 400;
    color: var(--light);
    border-radius: 10px;
    white-space: nowrap;
    /* line-height: 2; */
}

/* tag */
.tag {
    padding: 5px 10px;
    background-color: var(--secondary-2);
    color: var(--light);
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
}

/* 評分圖案 */
.rating-icon {
    background-image: url(../images/rating-icon.svg);
    background-position: center;
    background-size: cover;
}

.rating-icon.rating-icon--filled {
    background-image: url(../images/rating-icon--filled.svg);
    background-position: center;
    background-size: cover;
}

/* row分隔線 */
.split-line-row {
    height: 1px;
    width: 100%;
    background-color: var(--gray-3);
}

/* 陰影1 */
.event-intro-carousel figure,
.event-intro-card,
.event-plan-board,
#event-main-introduction,
#event-page-plan-intro,
#event-page-notice,
#event-page-comment,
#event-page-plan-intro .plan-item,
#event-page-founder,
.funevent-event-card {
    box-shadow: 0 0 4.1px 1px rgba(0, 0, 0, 0.5);
}

/* 背景，之後可能換成圖片 */
body {
    background-image: conic-gradient(from 90deg at 2px 2px, var(--bg-pri) 90deg, var(--bg-line) 0);
    background-size: var(--bg-size) var(--bg-size);
}

.funevent-wrap {
    position: relative;
    overflow-x: hidden;
}

/* 置頂導航列 topbar */
#topbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    width: 100%;
}

.topbar__start-box {
    /* position: absolute; */
    display: flex;
    align-items: center;
}

.topbar__start-box .logo {
    margin: 30px 0 0 46px;
}

.topbar__location {
    display: flex;
    margin-left: 48px;
}

.topbar__map-pin-icon {
    width: 29px;
    height: 29px;
}

.topbar__location p {
    font-size: 20px;
    color: var(--light);
}

.topbar__end-box {
    /* position: fixed; */
    right: 0;
}

.topbar-menu {
    display: flex;
}

.topbar-menu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 21px;
    background-color: var(--primary-1);
    border-radius: 0 0 30px 30px;
    margin-right: 8.5px;
}

.topbar-menu__item:last-child {
    margin-right: 20px;
}

.topbar-menu__icon {
    width: 29px;
    height: 29px;
    margin-right: 7px;
}

.topbar-menu__item p {
    color: var(--light);
}

/* footer */
/* footer */
footer {
    position: relative;
    padding: 0 144px;
    margin-top: 58px;
    background-color: #595757;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 弧形背景 */
footer .bg-color-block {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 145.8vw;
    height: 325px;
    clip-path: ellipse();
    background-color: #595757;
}

footer .navigation {
    display: flex;
    justify-content: space-between;
    width: 1034px;
}

footer .navigation .menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

footer .navigation .app-box p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: white;
    margin-bottom: 4px;
}

footer .navigation .download {
    display: flex;
    column-gap: 13px;
}

footer .navigation .google {
    width: 142px;
    height: 49px;
    background-image: url(../images/google-play-icon.svg);
}

footer .navigation .iphone {
    width: 146px;
    height: 49px;
    background-image: url(../images/apple-store-icon.svg);
}

footer .navigation .menu {
    margin: 0;
    padding: 0;
}

footer .navigation .menu h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: white;
}

footer .navigation .menu a {
    font-size: 14px;
    font-weight: 400;
    color: white;
}

footer .navigation .menu li {
    border: none;
    margin: 10px 0;
}

footer .split-line-row {
    background-color: white;
    height: 0.5px;
    width: 100%;
    margin-top: 17px;
    margin-bottom: 14px;
}

footer .end-box {
    display: flex;
    justify-content: space-between;
    width: 1034px;
    margin-bottom: 47px;
}

footer .end-box .icon-box {
    display: flex;
    column-gap: 10px;
}

footer .end-box .icon {
    width: 36px;
    height: 36px;
}

footer .end-box small {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
}

/* 首頁從這開始 */
/* 首頁背景 */
.event-bg-color-block {
    position: absolute;
    /* overflow: hidden; */
    width: 100%;
    height: 100%;
    z-index: -1;
}

.event-bg-color-block__block1 {
    width: 83vw;
    height: 83vw;
    position: absolute;
    left: -25vw;
    top: -35.8vw;
    background-color: var(--primary-2);
    border-radius: 9999px;
}

.event-bg-color-block__block2 {
    background-image: url(../images/event-bg-color-block2.svg);
    background-size: cover;
    width: 54.2vw;
    height: 38.9vw;
    position: absolute;
    right: -11.6vw;
    top: 12.8vw;
}

#home-page-first-view {
    height: 100vh;
}

/* 分類小卡列表 */
#home-page-event-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

#home-page-event-category .event-category-list {
    display: flex;
    column-gap: 33px;
}

.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6.5px;
}

.category-card .category-card-icon {
    width: 82px;
    height: 82px;
    /* background-image: url(../images/event-category-icon.svg); */
    background: center/cover no-repeat;
}

.category-card .title {
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-1);
}

/* 活動推薦總成 */
.home-page-event-list-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 76px;
}

.home-page-event-list-box-wrap {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

/* 特色主題 */
#home-page-topic-list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

#home-page-topic-list .funevent-main-title {
    padding: 0 56px;
}

#home-page-topic-list .topic-list-box {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
}

#home-page-topic-list .topic-list {
    display: flex;
    column-gap: 23px;
}

#home-page-topic-list .funevent-topic-card {
    width: 303px;
    height: 200px;
}

#home-page-topic-list .funevent-topic-card .card-body {
    position: relative;
    width: 100%;
    height: 100%;
    background: center/cover no-repeat;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.3);
}

#home-page-topic-list .funevent-topic-card .title {
    position: absolute;
    bottom: -20px;
    right: -23px;
    font-size: 24px;
    font-weight: 500;
    color: var(--light);
    line-height: 58px;
    padding: 0 30px;
    background-color: var(--primary-2);
    border: solid 5px var(--light);
    border-radius: 62px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    white-space: nowrap;
}

/* 活動列表推薦 */
#home-page-event-card-list-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 40px;
}

#home-page-event-card-list-box .event-card-list {
    display: flex;
    justify-content: space-between;
}


#home-page-event-card-list-box .event-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

#home-page-event-card-list-box .event-box .funevent-main-title {
    padding: 0 56px;
}

/* 活動頁從這開始 */
/* 活動頁共用區 */
/* 活動頁主要區塊共用樣式 */
#event-page-plan-intro,
#event-page-notice,
#event-page-founder,
#event-page-comment {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    padding: 34px 42px;
    background-color: var(--light);
    border-radius: 10px;
}

/* 蒐藏轉發按鈕 */
.add-fav-icon {
    background-image: url(../images/add-fav-icon.svg);
}

.add-fav-icon.add-fav-icon--faved {
    background-image: url(../images/add-fav-icon--faved.svg);
}

.share-icon {
    background-image: url(../images/share-icon.svg);
}


/* 活動頁背景 */
.event-bg-color-block {
    position: absolute;
    /* overflow: hidden; */
    width: 100%;
    height: 100%;
    z-index: -1;
}

.event-bg-color-block__block1 {
    width: 83vw;
    height: 83vw;
    position: absolute;
    left: -25vw;
    top: -35.8vw;
    background-color: var(--primary-2);
    border-radius: 9999px;
}

.event-bg-color-block__block2 {
    background-image: url(../images/event-bg-color-block2.svg);
    background-size: cover;
    width: 54.2vw;
    height: 38.9vw;
    position: absolute;
    right: -11.6vw;
    top: 12.8vw;
}

/* 活動頁-活動主頁 */
#event-introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 140px 45px 0 65px;
}

.event-introduction-wrapper {
    width: 100%;
    max-width: 1300px;
}

.breadcrumb {
    display: flex;
    margin-left: 4.5px;
    margin-bottom: 34px;
    color: var(--light);
    font-size: 24px;
    font-weight: 500;
}

.breadcrumb a {
    color: var(--light);
}

.breadcrumb .divider {
    white-space-collapse: preserve;
}

/* 網格系統，包全部主要內容 */
.event-introduction-container {
    width: 100%;
    display: grid;
    /* grid-template-columns: 1fr auto; */
    grid-template-columns: minmax(0, 1fr) minmax(0, 475px);
    row-gap: 25px;
    column-gap: 34px;
}

/* 活動頁-大輪播 */
.event-intro-carousel .slide-box {
    position: relative;
    height: 100%;
}

.event-intro-carousel .slide {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    transition: .35s;
}

.event-intro-carousel .slide.active {
    opacity: 1;
}

.event-intro-carousel figure img {
    height: 100%;
    object-fit: cover;
}

.event-intro-carousel-subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8px;
}

.event-intro-carousel__ctrl-box {
    display: flex;
    align-items: center;
}

.event-intro-carousel__ctrl-box .arrow {
    background-image: url(../images/event-carousel-arrow.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 34px;
}

.event-intro-carousel__ctrl-box .ctrl-btn-box {
    display: flex;
    align-items: center;
    margin-right: 34px;
}

.event-intro-carousel__ctrl-box .ctrl-btn {
    width: 17px;
    height: 17px;
    background-color: var(--gray-2);
    border-radius: 99px;
    margin-right: 14px;
}

.event-intro-carousel__ctrl-box .ctrl-btn.active {
    background-color: var(--gray-1);
}

.event-intro-carousel__ctrl-box .ctrl-btn:last-child {
    margin-right: 0;
}

.event-intro-carousel__ctrl-box .arrow--next {
    transform: rotate(180deg);
}

.event-intro-carousel-subtitle .btn-box {
    display: flex;
}

.event-intro-carousel-subtitle .funevent-btn-round:first-child {
    margin-right: 3px;
}

/* 活動頁-活動介紹卡 */
.event-intro-card {
    /* width: 475px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--light);
    border-radius: 10px;
    padding: 32px 27px;
}

.event-intro-card__title {
    font-size: 36px;
    font-weight: 500;
    color: var(--gray-1);
    margin-bottom: 20px;
}

.event-intro-card__rating-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.event-intro-card .rating-icon {
    width: 20px;
    height: 20px;
}

.event-intro-card__content {
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 20px;
}

.event-intro-card__content .item-title-box {
    display: flex;
    margin-right: 10px;
}

.event-intro-card__content .item-title-box .icon {
    width: 25px;
    height: 25px;
    background-position: center;
    background-size: contain;
    margin-right: 10px;
}

.event-intro-card__content .item-title-box .title {
    flex: 1;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
}

.event-intro-card__content .item-content-box {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.event-intro-card__content .item-content-box .open-map-box {
    display: flex;
    align-items: center;
}

.event-intro-card__content .add-calendar,
.event-intro-card__content .open-link-icon {
    margin-left: 10px;
}

.event-intro-card__content .item-content-box .open-map {
    margin-left: 3px;
}

.event-intro-card__content .open-link-icon,
.event-intro-card__content .item-content-box .open-map-box {
    align-self: center;
}

.event-intro-card__content .text,
.event-intro-card__rating-box .rating-text {
    font-size: 20px;
    color: var(--deep);
}

.event-intro-card__content .sub-text {
    font-size: 16px;
    color: var(--gray-2);
}

.event-intro-card__content .add-calendar,
.event-intro-card__content .open-map {
    font-size: 12px;
    font-weight: 500;
    color: var(--primary-1);
}

.event-intro-card__content .item-date .icon {
    background-image: url(../images/date-icon.svg);
}

.event-intro-card__content .item-address .icon {
    background-image: url(../images/address-icon.svg);
}

.event-intro-card__content .item-founder .icon {
    background-image: url(../images/chest-icon.svg);
}

.event-intro-card__content .item-link .icon {
    background-image: url(../images/chest-icon.svg);
}

.event-intro-card__content .open-link-icon {
    width: 14px;
    height: 14px;
    background-image: url(../images/open-link-icon.svg);
}

.event-intro-card .split-line-row {
    margin: 20px 0;
}

.event-intro-card .tag-box {
    display: flex;
    align-items: center;
}

.event-intro-card .tag-box .tag-icon {
    width: 24px;
    height: 24px;
    background: url(../images/tag-icon.svg) center/cover;
    margin-right: 6px;
}

.event-intro-card .tag-box .tag-list {
    display: flex;
    align-items: center;
}

.event-intro-card .tag-box .tag-list .tag {
    margin-right: 6px;
}

/* 活動頁-方案漂浮板面 */
.event-plan-board {
    position: relative;
    /* 占滿整個column(row-line從auto延伸七條line) */
    grid-row: auto / span 7;
    /* width: 475px; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--light);
    border-radius: 10px;
    padding: 35px;
}

#event-plan-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#event-plan-form .label-big,
#event-plan-form .title,
#event-plan-form .price-box .currency,
#event-plan-form .fun-point-box .fun-point {
    font-size: 20px;
    font-weight: 500;
    color: var(--gray-1);
}

#event-plan-form select {
    font-size: 16px;
    color: var(--gray-1);
    padding: 13px 19px;
    border: solid 2px var(--secondary-1);
    border-radius: 10px;
    appearance: none;
    background: url(../images/arrow-down-gray.svg) right/cover no-repeat;
    background-size: 16px 16px;
    background-position: calc(100% - 15px), 0;
}

#event-plan-form .radio-box {
    display: flex;
    column-gap: 6px;
}

#event-plan-form .radio-box input {
    display: none;
}

#event-plan-form .radio-box #time-1:checked~.time-1-label,
#event-plan-form .radio-box #time-2:checked~.time-2-label {
    background-color: var(--secondary-1);
    border: solid 2px var(--gray-2);
    color: var(--deep);
}

#event-plan-form .radio-box label {
    font-size: 16px;
    color: var(--gray-1);
    padding: 13px 35px;
    border: solid 2px var(--secondary-1);
    border-radius: 10px;
}

#event-plan-form .ticket-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#event-plan-form .ticket-type .title-box {
    display: flex;
    align-items: flex-end;
}

#event-plan-form .ticket-type .title-box .title {
    margin-right: 12px;
}

#event-plan-form .ticket-type .title-box .subtitle {
    font-size: 16px;
    color: var(--gray-2);
    line-height: 1.6;
}

#event-plan-form .ticket-type .amount-box {
    display: flex;
    align-items: center;
}

#event-plan-form .ticket-type .amount {
    font-size: 24px;
    font-weight: 500;
    margin: 0 25px;
    margin-bottom: 3px;
}

#event-plan-form .ticket-type .minus-btn {
    width: 24px;
    height: 24px;
    background: url(../images/minus-icon.svg) center/cover no-repeat;
}

#event-plan-form .ticket-type .plus-btn {
    width: 24px;
    height: 24px;
    background: url(../images/plus-icon.svg) center/cover no-repeat;
}

#event-plan-form .price-box,
#event-plan-form .fun-point-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#event-plan-form .price-box .price {
    font-size: 32px;
    font-weight: 700;
    color: var(--primary-2);
    margin-left: 26px;
    line-height: 1.2;
}

#event-plan-form .price-inner-box,
#event-plan-form .fun-point-inner-box {
    display: flex;
    align-items: flex-end;
}

#event-plan-form .fun-point-icon {
    width: 30px;
    height: 30px;
    background: url(../images/fun-point-icon.svg) center/cover no-repeat;
    margin-left: 9px;
}

#event-plan-form .funevent-btn {
    height: 46px;
}

/* 活動頁-內部導航列 */
.event-inner-nav {
    position: relative;
    z-index: 1;
}

.event-inner-nav .menu {
    display: flex;
    justify-content: space-between;
    /* column-gap: 0.6px; */
}

.event-inner-nav .item {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.event-inner-nav__btn {
    width: 100%;
    height: 100%;
    padding: 14px 9px;
    background-color: var(--gray-4);
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-weight: 700;
    color: var(--light);
    transition: .35s;
}

.event-inner-nav__btn.active {
    background-color: var(--primary-1);
}

/* 活動頁-活動介紹 */
#event-main-introduction {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    padding: 34px 42px;
    background-color: var(--light);
    border-radius: 0 0 10px 10px;
}

#event-main-introduction .text-content {
    font-size: 20px;
    line-height: 1.5;
    color: var(--gray-1);
    margin-bottom: 23px;
}

#event-main-introduction .funevent-btn {
    width: 50%;
    background-color: var(--secondary-2);
    align-self: center;
}

/* 活動頁-選擇方案 */
#event-page-plan-intro .plan-list {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

#event-page-plan-intro .plan-item {
    display: flex;
    justify-content: space-between;
    background-color: var(--light);
    border-radius: 20px;
    padding: 25px 31px;
}

#event-page-plan-intro .plan-item .start-box {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    color: var(--gray-1);
}

#event-page-plan-intro .plan-item .title {
    font-size: 24px;
    font-weight: 500;
}

#event-page-plan-intro .plan-item .subtitle {
    font-size: 16px;
    line-height: 1.6;
}

#event-page-plan-intro .plan-item .end-box {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

#event-page-plan-intro .plan-item .funevent-btn {
    align-self: center;
    width: 106px;
    height: 48px;
}

#event-page-plan-intro .plan-item .price-box {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

#event-page-plan-intro .plan-item .currency {
    font-size: 20px;
    font-weight: 500;
    color: var(--gray-2);
}

#event-page-plan-intro .plan-item .price {
    font-size: 32px;
    font-weight: 500;
    color: var(--gray-5);
}

/* 活動頁-注意事項 */
#event-page-notice .text-content {
    font-size: 20px;
    line-height: 1.8;
    color: var(--gray-1);
}

/* 活動頁-主辦單位 */
#event-page-founder .founder-intro-box {
    display: flex;
    justify-content: space-between;
    column-gap: 14px;
}

#event-page-founder .start-box {
    display: flex;
    column-gap: 14px;
    flex-shrink: 1;
}

#event-page-founder .founder-intro {
    max-width: 375px;
}

#event-page-founder .founder-intro-box .founder-icon {
    background: url(../images/event01/founder-icon.svg) center/cover no-repeat;
    width: 63px;
    height: 63px;
    flex-shrink: 0;
}

#event-page-founder .founder-intro-box .title {
    font-size: 20px;
    font-weight: 500;
    color: var(--gray-1);
}

#event-page-founder .founder-intro-box .intro {
    font-size: 16px;
    color: var(--gray-1);
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
}

#event-page-founder .btn-box {
    display: flex;
    align-items: center;
    column-gap: 11px;
    /* min-width: 257px; */
}

/* 活動頁-活動評論 */
#event-page-comment .comment-list {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

#event-page-comment .comment-item {
    display: flex;
    align-items: flex-start;
}

#event-page-comment .rating-box {
    display: flex;
    align-items: flex-end;
    /* align-self: center; */
    /* column-gap: 50px; */
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#event-page-comment .rating-point {
    font-size: 96px;
    font-weight: 900;
    color: var(--primary-1);
}

#event-page-comment .total-rating-point {
    font-size: 36px;
    font-weight: 900;
    color: var(--gray-2);
}

#event-page-comment .rating-box .rating-point-box {
    display: flex;
    align-items: flex-end;
    line-height: 1;
}

#event-page-comment .rating-box .rating-icon-box {
    display: flex;
    column-gap: 13px;
}

#event-page-comment .rating-box .rating-icon-box .rating-icon {
    width: 53px;
    height: 53px;
}

#event-page-comment .total-comment-box {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    color: var(--gray-6);
}

#event-page-comment .total-comment-box p {
    white-space: nowrap;
}

#event-page-comment .filter {
    align-self: flex-end;
    font-size: 20px;
    font-weight: 500;
    color: var(--gray-5);
    border: none;
    appearance: none;
    background: url(../images/arrow-down-gray.svg) right/cover no-repeat;
    background-size: 16px 16px;
    /* 留空間給自製箭頭 */
    padding-right: 26px;
}

#event-page-comment .user-avatar {
    width: 86px;
    height: 86px;
    flex-shrink: 0;
    margin-right: 30px;
}

#event-page-comment .comment-content {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-right: 22px;
}

#event-page-comment .comment-content .start-box {
    display: flex;
    align-items: flex-end;
    column-gap: 14px;
}

#event-page-comment .comment-content .user-name {
    font-size: 20px;
    font-weight: 500;
    color: var(--gray-7);
}

#event-page-comment .comment-content .date {
    font-size: 14px;
    color: var(--gray-2);
}

#event-page-comment .comment-content .rating-icon-box {
    display: flex;
    column-gap: 6px;
}

#event-page-comment .comment-content .rating-icon {
    width: 24px;
    height: 24px;
}

#event-page-comment .comment-content .text-content-box {
    display: flex;
    flex-direction: column;
}

#event-page-comment .comment-content .text-content {
    font-size: 16px;
    color: var(--gray-5);
    line-height: 1.45;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

#event-page-comment .comment-content .more-btn {
    display: flex;
    align-self: flex-end;
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-2);
    margin-top: 8px;
}

#event-page-comment .comment-content .more-btn::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    margin-left: 7px;
    background: url(../images/arrow-down.svg) center/cover no-repeat;
}

#event-page-comment .comment-item .comment-pic {
    position: relative;
    width: 149px;
    height: 104px;
    flex-shrink: 0;
    align-self: flex-end;
}

#event-page-comment .comment-item .comment-pic .more-pic-btn {
    position: absolute;
    font-size: 14px;
    right: 0;
    bottom: 0;
    width: 23%;
    height: 26%;
    background-color: var(--deep);
    color: var(--light);
    border-radius: 5px 5px 10px 5px;
}

#event-page-comment .funevent-btn {
    width: 50%;
    background-color: var(--secondary-2);
    margin-top: 12px;
    align-self: center;
}

/* 活動頁-你可能也喜歡區塊 */
#event-page-recommend {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    margin-bottom: 60px;
}

#event-page-recommend .funevent-event-list {
    display: flex;
    justify-content: space-between;
}